<% include ./../header %>
   <!-- Inicio do corpo -->
   <div id="page-wrapper">
      <div class="row padding-panel">
         <div class="col-xs-12">
            <div class="row">
               
               <div class="col-xs-12">
                  <ol class="breadcrumb">
                     <li>
                        <i class="fa fa-home">
                        </i>
                        <a href="/home">Home</a>
                     </li>
                     <li class="active">
                        <i class="fa fa-pencil">
                        </i>
                        Turmas
                     </li>
                  </ol>
               </div>
            </div>
            <% include ./../cabecalho %>
               <!-- /.panel -->
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <i class="fa fa-pencil fa-fw">
                     </i>
                     Turmas
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="table-responsive">
                              <table class="table table-bordered table-hover table-striped dataTable"
                              style="font-size: 10px !important">
                                 <thead>
                                    <tr>
                                       <th>
                                          <center>
                                             <abbr title="Identificação da turma da disciplina">
                                                ID
                                             </abbr>
                                          </center>
                                       </th>
                                       <th>
                                          <strong>
                                             Disciplina
                                          </strong>
                                       </th>
                                       <th>
                                          Curso
                                       </th>
                                       <th>
                                          <center>
                                             Tipo
                                          </center>
                                       </th>
                                       <th>
                                          <center>
                                             Ação
                                          </center>
                                       </th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <% turmas.forEach(function(turma) { %>
                                       <tr>
                                          <th>
                                             <center>
                                                <%- turma.id %>
                                             </center>
                                          </th>
                                          <th>
                                             <%- turma.disciplina %>
                                          </th>
                                          <th>
                                             <%- turma.curso %>
                                          </th>
                                          <th>
                                             <center>
                                                <%- turma.tipo %>
                                             </center>
                                          </th>
                                          <th>
                                             <center>
                                                <a href="/home/minhas_avaliacoes/cadastro/<%- turma.id %>" class="btn btn-xs btn-warning"
                                                role="button">Entrar na turma</a>
                                             </center>
                                          </th>
                                       </tr>
                                       <% }) %>
                                 </tbody>
                              </table>
                           </div>
                           <!-- /.table-responsive -->
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Fim do corpo -->
      <% include ./../footer %>